nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f56c3;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 1.5rem;
    color: #f6f6f6;
    font-family: "Lobster", cursive;
    font-weight: 600;
    padding-left: 60px;
  }
  
  a{
    text-decoration: none;
   color: #f6f6f6;;
  }
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #f6f6f6;
    color: #1f56c3;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    transform: scale(1.1);
  }
  